providers:
  kubernetes:
    image:
      repository: xpkg.upbound.io/crossplane-contrib/provider-kubernetes
      tag: v1.1.0
  github:
    image:
      repository: xpkg.upbound.io/coopnorge/provider-github
      tag: v0.13.0
  minio:
    image:
      repository: xpkg.upbound.io/vshn/provider-minio
      tag: v0.4.5

functions:
  auto-ready:
    image:
      repository: xpkg.upbound.io/crossplane-contrib/function-auto-ready
      tag: v0.6.0
  go-templating:
    image:
      repository: xpkg.upbound.io/crossplane-contrib/function-go-templating
      tag: v0.11.2
  patch-and-transform:
    image:
      repository: xpkg.upbound.io/crossplane-contrib/function-patch-and-transform
      tag: v0.9.2
  status-transformer:
    image:
      repository: xpkg.upbound.io/crossplane-contrib/function-status-transformer
      tag: v0.5.1

github:
  enabled: true
  claim:
    enabled: true

minio:
  enabled: true
